@charset "UTF-8";

@font-face {
    font-family: 'games';
    src: url('games/Games.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'over';
    src: url('game_over.ttf') format('truetype');
}

@font-face{
    font-family: 'ggame';
    src: url('GAME_glm.ttf') format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.747));
    color: #ffffff;
    text-align: justify;
}

header{
   padding: 25px;
   text-shadow: 5px 5px 5px 5px blue;
}

h1{
    color: #ffffff;     
    float: left;
    margin: 5px;
    font-family: 'ggame';
    padding: 15px;
    text-shadow: 8px 8px #29455f;
}

h1:hover{
    font-size: 50px;
    color: rgb(20, 44, 90);
    text-shadow: 8px 8px #4c79a3;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 4px;
    float: left;
    font-size: 18px;
    font-weight: 600;
    padding-top: 18px;
    text-shadow: 3px 3px #446b8f;
}

a:hover{
    font-size: 25px;
    color: rgb(10, 54, 134);
    text-shadow: 5px 5px #4c79a3;
    text-decoration: dashed;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 20px;
    margin-left: 5px;
}

.icones{
    width: 20px;
    align-items: flex-end;
}

#botao1{
    align-items: flex-end;
    padding-left: 20px;
    padding-bottom: 30px;
}


#botao2{
    padding-left: 50px;
    padding-top: 10px;
}

#assistir{
    color: black;
    width: 160px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    border-radius: 5%;
    border-bottom: 5%;
    height: 40px;   
}

#info{
    color: white;
    width: 210px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(49, 49, 49, 0.747);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.39);
    border-radius: 5%;
    border-bottom: 5%;
    height: 40px; 
}

#texto{
    text-align: left;
    width: 300px;
    padding-left: 50px;
    padding-top: 200px;
}

#fundo{
    width: 100%;
    height:600px;
    background-image: url('../midia/teste.png');
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.212);  
}

#outros .top img{
    width: 150px;
    float: left;
    padding-top: 15px;
    padding-left: 0px;
    height: 240px; 
    
}
    
.top h1{
    font-size: 200px;
    color: rgba(139, 136, 136, 0.705);
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 0;
    text-shadow: 3px 3px #0000007e;
}

#outros{
    margin-top: 20px;
    position: relative;
}

.top{
    position: relative;
}

